<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <div class="contenedor">
        <div class="contenedor--texto">
            <h1>Esto es un h1</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sint, odit blanditiis deserunt, saepe, iste alias nesciunt autem molestiae voluptatem accusamus. Omnis quasi nihil quod praesentium eius debitis fugiat laboriosam?
            </p>
        </div>
    </div>
</body>
</html>